/* Palette Studio

Логотип:
web #2196F3
studio #212121

Меню:
основной цвет текста #212121
вторичный цвет текста #2196F3
цвет активного раздела #2196F3
цвет горизонтальной полосы: #ECECEC;

Контакты хедер:
основной цвет текста #757575
вторичный цвет текста #2196F3

Цвет основного фона #FFFFFF

Герой:
Цвет текста #FFFFFF
Цвет фона rgba(47, 48, 58, 0.8)

Текст страницы:
цвет заголовков, подзаголовков и имен #212121
цвет абзацев #757575
дополнительный цвет текста #FFFFFF
дополнительный фон текста rgba(47, 48, 58, 0.8)

Кнопки:
цвет текста #FFFFFF
цвет фона #2196F3

Преимущества:
основной цвет фона изображений #F5F4FA
вторичный цвет фона изображений #2196F3

Наша команда:
основной цвет фона #F5F4FA
дополнительный цвет фона #FFFFFF
социальные сети:
основной цвет #AFB1B8
вторичный цвет #FFFFFF
цвет фона выделения #2196F3

Футер:
цвет фона #2F303A
цвет призывов #FFFFFF
цвет адреса #FFFFFF
цвет контактов rgba(255, 255, 255, 0.6)
цвет горизонтальной полосы rgba(255, 255, 255, 0.1)
социальнй сети:
основной цвет #FFFFFF
цвет основного фона rgba(255, 255, 255, 0.1)
цвет фона выделения #2196F3
цвет текста авторского права rgba(255, 255, 255, 0.4)
*/

/* Palette Portfolio

Кнопки навигации портфолио:
основной цвет текста #212121
вторичный цвет текста #FFFFFF
основной цвет фона #F5F4FA
вторичный цвет фона #2196F3

Пример
цвет текста заголовка #212121
цвет краткого описания #757575
цвет фона #FFFFFF
цвет текста развернутого описания #FFFFFF
цвет фона развернутого описания rgba(33, 150, 243, 0.9)
*/

/* General */
:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --secondary-white-color: #ffffff;
  --primary-black-color: #212121;
  --heading-text-color: #212121;
  --bg-white-color: #ffffff;
  --bg-footer-color: #2f303a;
  --btn-bg-color: #2196f3;
  --btn-text-color: #ffffff;
  --accent-color: #2196f3;
  --bg-accent-color: rgba(33, 150, 243, 0.9);
  --logo-web-color: #2196f3;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --copyright-color: rgba(255, 255, 255, 0.4);
  --bg-work-color: rgba(47, 48, 58, 0.8);
  --bg-team-color: #f5f4fa;
  --bg-employee-color: #ffffff;
  --bg-filter-btn-color: #f5f4fa;
  --filter-btn-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  --bg-example-color: #ffffff;
  --nav-line-color: #ececec;
  --work-line-color: #ececec;
  --footer-line-color: rgba(255, 255, 255, 0.1);
  --header-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  --team-item-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  --examples-item-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
    0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  --btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --modal-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  --btn-close-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  --examples-border-color: #eeeeee;
  --bg-hero-color: rgba(47, 48, 58, 0.8);
  --bg-gradient-left: rgba(47, 48, 58, 0.8);
  --bg-gradient-right: rgba(47, 48, 58, 0.8);
  --bg-adv-icon: #f5f4fa;
  --bg-ws-social-color: rgba(255, 255, 255, 0.1);
  --bg-team-social-color: #ffffff;
  --customers-border-color: #afb1b8;
  --team-social-icon-color: #afb1b8;
  --customers-icon-color: #afb1b8;
  --examples-accent-color: rgba(33, 150, 243, 0.9);
  --bg-modal-color: #ffffff;
  --bg-modal-overlay-color: rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --form-border-color: rgba(33, 33, 33, 0.2);
  --email-subscribe-color: rgba(255, 255, 255, 0.6);
  --bg-email-subscribe-color: #2f303a;
  --email-subscribe-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --email-subscribe-border-color: rgba(255, 255, 255, 0.3);
  --icon-modal-close-color: #000000;
  --visited-link-color: #800080;
}

.page {
  color: var(--primary-text-color);
  background-color: var(--bg-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Button */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  padding: 10px 32px;

  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  box-shadow: var(--btn-shadow);

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), transform 250ms var(--timing-function);
}

.footer .button {
  font-weight: 900;
}

.button:hover,
.button:focus {
  color: var(--btn-bg-color);
  background-color: var(--btn-text-color);
}

button {
  font-family: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
  outline-color: var(--accent-color);
}

.subscribe .button {
  height: 50px;
  position: relative;
  padding-left: 29px;
  padding-right: 28px;
  margin-left: auto;
  overflow: hidden;
}

.icon-airplane-one {
  margin-left: 10px;
  fill: currentColor;
  transition: transform 250ms var(--timing-function);
}

.icon-airplane-two {
  position: absolute;
  fill: currentColor;
  transform: translate(150%, 40px);
  transition: transform 250ms var(--timing-function);
}

.button:hover .icon-airplane-one,
.button:focus .icon-airplane-one {
  transform: translate(100%, -40px);
}

.button:hover .icon-airplane-two,
.button:focus .icon-airplane-two {
  transform: translate(250%, 0);
}

/* Site logo */
.logo,
.logo-footer {
  display: inline-block;

  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
}

.logo {
  display: inline-block;

  font-size: 26px;
  line-height: 1.19;
}

.logo-footer {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 22px;
  line-height: 1.18;
}

.logo .web {
  color: var(--logo-web-color);
}

.logo .studio {
  color: var(--primary-black-color);
}

.logo-footer .web {
  color: var(--logo-web-color);
}

.logo-footer .studio {
  color: var(--primary-white-color);
}

/* Page header */
.page-header {
  background-color: var(--bg-white-color);
  box-shadow: var(--header-box-shadow);
}

.page-header .container {
  display: flex;
  align-items: center;
}

/* Site navigation */
.nav,
.nav-contacts {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav {
  margin-left: 80px;
}

.item-nav:not(:last-child) {
  margin-right: 50px;
}

.nav-item {
  display: block;
  padding: 32px 0;

  color: var(--heading-text-color);

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), transform 250ms var(--timing-function);
}

.nav-contacts {
  margin-left: auto;
}

.item-nav-contacts:not(:last-child) {
  margin-right: 30px;
}

.nav-contacts-item {
  display: flex;
  align-items: center;

  color: var(--primary-text-color);

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), transform 250ms var(--timing-function);
}

.icon-envelope,
.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
  transition: transform 250ms var(--timing-function);
}

.nav-item:hover,
.nav-item:focus,
.nav-contacts-item:hover,
.nav-contacts-item:focus {
  color: var(--accent-color);
}

.nav-contacts-item:hover .icon-envelope,
.nav-contacts-item:focus .icon-envelope,
.nav-contacts-item:hover .icon-smartphone,
.nav-contacts-item:focus .icon-smartphone {
  transform: rotate(360deg);
}

.nav .link.current {
  color: var(--accent-color);
}

.item-nav {
  position: relative;
  overflow: hidden;
}

.nav .link::after {
  display: block;
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--examples-accent-color);
  border-radius: 4px;
  opacity: 0;
  transform: scaleX(0);

  transition: opacity 250ms var(--timing-function),
    transform 250ms var(--timing-function);
}

.nav .link:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.nav .link.current::after {
  display: block;
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--examples-accent-color);
  border-radius: 4px;
  opacity: 1;
  transform: scaleX(1);
}

/* Page footer */
.footer {
  padding-top: 48px;

  background-color: var(--bg-footer-color);
}

.footer .container {
  display: flex;
  margin-bottom: 28px;
  align-items: baseline;
  justify-content: space-between;
}

.address {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.address .place {
  display: inline-block;
  margin-bottom: 9px;

  color: var(--primary-white-color);
}

.address .contacts {
  display: inline-block;

  color: var(--contacts-footer-color);
}

.address .contacts:not(:last-child) {
  margin-bottom: 9px;
}

.social {
  min-width: 206px;
}

.social .list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.social .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  background-color: var(--bg-ws-social-color);
  color: var(--primary-white-color);
  border-radius: 50%;

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), transform 250ms var(--timing-function);
}

.social .icon-instagram,
.social .icon-twitter,
.social .icon-facebook,
.social .icon-linkedin {
  fill: currentColor;
}

.social .link:hover,
.social .link:focus {
  background-color: var(--accent-color);
}

.subscribe {
  display: block;
}

.subscribe-form {
  display: flex;
}

.email-subscribe {
  display: block;
  width: 358px;
  height: 50px;
  padding: 18px 12px;
  margin-right: 12px;
  color: var(--email-subscribe-color);
  background-color: var(--bg-email-subscribe-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  border: 1px solid var(--email-subscribe-border-color);
  box-shadow: var(--email-subscribe-shadow);
  border-radius: 4px;
}

.action {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 21px;

  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.copyright {
  display: block;
  padding-top: 18px;
  padding-bottom: 21px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;

  color: var(--copyright-color);
  font-size: 12px;
  line-height: 2;
  text-align: center;
  border-top: 1px solid var(--footer-line-color);
}

/* Main page */
/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  background-color: var(--bg-hero-color);
  background-image: linear-gradient(
      to right,
      var(--bg-gradient-left),
      var(--bg-gradient-right)
    ),
    url(../images/main/header-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero-title {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Main */
.title {
  color: var(--heading-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

/* Advantages */
.advantages .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages .title {
  margin-top: 0;
  margin-bottom: 50px;
}

.advantages .list {
  display: flex;
}

.advantages-item {
  width: calc((100% - (30px * 3)) / 4);
  margin-right: 30px;
}

.advantages-item:nth-child(4n) {
  margin-right: 0;
}

.background-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--bg-adv-icon);
  border-radius: 4px;
}

.advantages .item {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--heading-text-color);
  text-transform: uppercase;
}

.advantages .text {
  margin: 0;

  font-size: 14px;
  line-height: 1.71;
}

.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  animation: pulsing 2000ms infinite;
}

/* Animation advantages */
@keyframes pulsing {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.7);
  }
}

/* What are we doing */
.work.container {
  padding-bottom: 94px;

  text-align: center;
}

.work .title {
  margin-top: 0;
  margin-bottom: 50px;
}

.work .list {
  display: flex;
}

.work-item {
  position: relative;
  width: calc((100% - (30px * 2)) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}

.work-item:nth-child(-n + 3) {
  margin-bottom: 0;
}

.work .item {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 27px;
  margin: 0;

  color: var(--primary-white-color);
  background-color: var(--bg-work-color);
  text-transform: uppercase;
}

/* Team */
.team {
  background-color: var(--bg-team-color);
}

.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .title {
  margin-top: 0;
  margin-bottom: 50px;
}

.team .list {
  display: flex;
}

.team-item {
  width: calc((100% - (30px * 3)) / 4);
  margin-right: 30px;
  margin-bottom: 30px;

  background-color: var(--bg-employee-color);
  box-shadow: var(--team-item-shadow);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.team-item:nth-child(-n + 4) {
  margin-bottom: 0;
}

.team-content .list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.team-content {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-social .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  background-color: var(--bg-team-social-color);
  color: var(--team-social-icon-color);
  border-radius: 50%;

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), transform 250ms var(--timing-function);
}

.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
  fill: currentColor;
}

.team-social .link:hover,
.team-social .link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.team .item {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--heading-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .text {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Customers */
.customers.container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers .title {
  margin-top: 0;
  margin-bottom: 50px;
}

.customers .list {
  display: flex;
}

.customers-item {
  width: calc((100% - (30px * 5)) / 6);
  margin-right: 30px;
  margin-bottom: 30px;
}

.customers-item:nth-child(6n) {
  margin-right: 0;
}

.customers-item:nth-child(-n + 6) {
  margin-bottom: 0;
}

.customers-item .link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;

  color: var(--customers-icon-color);
  border: 1px solid currentColor;
  border-radius: 4px;
  transform: scale(1);

  transition: color 250ms var(--timing-function),
    transform 250ms var(--timing-function);
}

.icon-yaco,
.icon-co,
.icon-com,
.icon-foster,
.icon-brand,
.icon-comp {
  fill: currentColor;
}

.customers-item .link:hover {
  color: var(--accent-color);
  transform: scale(1.1);
}

/* Portfolio page */
.portfolio .container {
  padding-top: 93px;
  padding-bottom: 94px;
}

/* Portfolio title */
.portfolio .title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--heading-text-color);
}

/* Portfolio filter */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 22px;
  border-radius: 4px;

  color: var(--primary-black-color);
  background-color: var(--bg-filter-btn-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function),
    transform 250ms var(--timing-function);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
  box-shadow: var(--filter-btn-shadow);
}

/* Portfolio Examples */
.examples {
  display: flex;
  flex-wrap: wrap;
}

.examples-item {
  position: relative;
  width: calc((100% - (30px * 2)) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  background-color: var(--bg-example-color);
  transition: box-shadow 250ms var(--timing-function);
}

.examples-item:nth-child(3n) {
  margin-right: 0;
}

.examples-item:nth-child(n + 7) {
  margin-bottom: 0;
}

.examples-item:hover,
.examples-item:focus {
  box-shadow: var(--examples-item-shadow);
}

.examples-thumb {
  position: relative;
  overflow: hidden;
}

.examples-thumb::before {
  display: block;
  padding: 63px 24px;
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  background-color: var(--examples-accent-color);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms var(--timing-function),
    transform 250ms var(--timing-function);
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;

  color: var(--secondary-white-color);
  font-size: 18px;
  line-height: 1.56;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms var(--timing-function),
    transform 250ms var(--timing-function);
}

.examples-item:hover .examples-thumb::before,
.examples-item:hover .description {
  opacity: 1;
  transform: translateY(0);
}

.examples-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid var(--examples-border-color);
  border-right: 1px solid var(--examples-border-color);
  border-bottom: 1px solid var(--examples-border-color);
}

.examples-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--heading-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.sort {
  display: block;
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-modal-overlay-color);
  z-index: 98;

  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  position: relative;
  top: 50%;
  left: 50%;

  min-height: 581px;
  max-width: 528px;
  padding: 40px;

  background-color: var(--bg-modal-color);
  color: var(--primary-black-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  box-shadow: var(--modal-shadow);
  border-radius: 4px;

  z-index: 99;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
}

.modal-title {
  display: block;
  margin-bottom: 28px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
}

.form-field {
  position: relative;
  width: 448px;
  margin-bottom: 28px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form-input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 16px;
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.form-input:focus {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  color: var(--primary-text-color);
  transform: translateY(-50%);
  transition: transform 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.icon-modal {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--primary-black-color);
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.form-field:focus-within > .form-label {
  color: var(--accent-color);
  transform: translate(-25px, calc(-50% - 32px));
}

.form-field:focus-within > .icon-modal,
.form-input:not(:placeholder-shown) ~ .icon-modal,
.form-input:focus ~ .icon-modal {
  fill: var(--accent-color);
}

.form-input:not(:placeholder-shown) + .form-label {
  color: var(--accent-color);
  transform: translate(-25px, calc(-50% - 32px));
}

.comment-field {
  position: relative;
  width: 448px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.comment-input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}

.comment-input:focus {
  border-color: var(--accent-color);
  outline-color: var(--accent-color);
}

.comment-label {
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 18px;
  color: var(--primary-text-color);
  transition: transform 250ms var(--timing-function),
    color 250ms var(--timing-function);
}

.comment-field:focus-within > .comment-label,
.comment-input:not(:placeholder-shown) + .comment-label {
  color: var(--accent-color);
  transform: translateY(-31px);
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-modal-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 9px;
  border: 2px solid var(--primary-black-color);
  border-radius: 2px;
  transition: border-color 250ms var(--timing-function),
    background-image 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.checkbox:checked + .icon-modal-checkbox {
  border-color: var(--accent-color);
  background-image: url(../images/svg/checkbox.svg);
  background-color: var(--accent-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.policy-agreement {
  color: var(--accent-color);
}

.policy-agreement:active,
.policy-agreement:visited {
  color: var(--visited-link-color);
}

.form .button {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -9px;
  right: -9px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--bg-white-color);
  border-radius: 50%;
  box-shadow: var(--btn-close-shadow);
  outline-color: var(--accent-color);
}

.icon-modal-close {
  fill: var(--icon-modal-close-color);
}
