// Colors
$primary-text-color: #757575;
$primary-white-color: #ffffff;
$secondary-white-color: #ffffff;
$primary-black-color: #212121;
$heading-text-color: #212121;
$bg-white-color: #ffffff;
$bg-footer-color: #2f303a;
$btn-bg-color: #2196f3;
$btn-text-color: #ffffff;
$accent-color: #2196f3;
$bg-accent-color: rgba(33, 150, 243, 0.9);
$logo-web-color: #2196f3;
$contacts-footer-color: rgba(255, 255, 255, 0.6);
$copyright-color: rgba(255, 255, 255, 0.4);
$bg-work-color: rgba(47, 48, 58, 0.8);
$bg-team-color: #f5f4fa;
$bg-employee-color: #ffffff;
$bg-filter-btn-color: #f5f4fa;
$bg-example-color: #ffffff;
$nav-line-color: #ececec;
$work-line-color: #ececec;
$footer-line-color: rgba(255, 255, 255, 0.1);
$bg-hero-color: rgba(47, 48, 58, 0.8);
$bg-gradient-left: rgba(47, 48, 58, 0.8);
$bg-gradient-right: rgba(47, 48, 58, 0.8);
$bg-adv-icon: #f5f4fa;
$bg-ws-social-color: rgba(255, 255, 255, 0.1);
$bg-team-social-color: #ffffff;
$team-social-icon-color: #afb1b8;
$customers-icon-color: #afb1b8;
$examples-accent-color: rgba(33, 150, 243, 0.9);
$bg-modal-color: #ffffff;
$bg-modal-overlay-color: rgba(0, 0, 0, 0.2);
$icon-modal-close-color: #000000;
$visited-link-color: #800080;
$form-btn-send-color: #188ce8;
$email-subscribe-color: rgba(255, 255, 255, 0.6);
$bg-email-subscribe-color: #2f303a;

// Shadows
$filter-btn-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
$header-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
$team-item-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
$examples-item-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
  0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
$btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$modal-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 1px 3px rgba(0, 0, 0, 0.12);
$btn-close-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
$email-subscribe-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

// Borders
$examples-border-color: #eeeeee;
$customers-border-color: #afb1b8;
$form-border-color: rgba(33, 33, 33, 0.2);
$email-subscribe-border-color: rgba(255, 255, 255, 0.3);

// Timing
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// Icons for each
$icons: '.instagram', '.twitter', '.facebook', '.linkedin';
