.button {
  @include flex-center(inline-flex);
  min-width: 200px;
  padding: 10px 32px;

  color: $btn-text-color;
  background-color: $btn-bg-color;
  @include font-size(16px, 1.87);
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  box-shadow: $btn-shadow;

  transition: background-color 250ms $timing-function,
    color 250ms $timing-function, transform 250ms $timing-function;
}

.footer .button {
  font-weight: 900;
}

.button {
  &:hover,
  &:focus {
    color: $btn-bg-color;
    background-color: $btn-text-color;
  }
}

button {
  font-family: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
  outline-color: $accent-color;
}

.subscribe .button {
  height: 50px;
  position: relative;
  padding-left: 29px;
  padding-right: 28px;
  margin-left: auto;
  overflow: hidden;
}

.icon-airplane-one {
  margin-left: 10px;
  fill: currentColor;
  transition: transform 250ms $timing-function;
}

.icon-airplane-two {
  position: absolute;
  fill: currentColor;
  transform: translate(150%, 40px);
  transition: transform 250ms $timing-function;
}

.button:hover .icon-airplane-one,
.button:focus .icon-airplane-one {
  transform: translate(100%, -40px);
}

.button:hover .icon-airplane-two,
.button:focus .icon-airplane-two {
  transform: translate(250%, 0);
}
