.hero {
  margin-left: auto;
  margin-right: auto;
  position: relative;

  background-color: $bg-hero-color;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  @media screen and (max-width: 767px) {
    max-width: 480px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(
        to right,
        $bg-gradient-left,
        $bg-gradient-right
      ),
      url(../images/main/header/header-480.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          $bg-gradient-left,
          $bg-gradient-right
        ),
        url(../images/main/header/header-480@2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(
        to right,
        $bg-gradient-left,
        $bg-gradient-right
      ),
      url(../images/main/header/header-768.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          $bg-gradient-left,
          $bg-gradient-right
        ),
        url(../images/main/header/header-768@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;

    background-image: linear-gradient(
        to right,
        $bg-gradient-left,
        $bg-gradient-right
      ),
      url(../images/main/header/header-1600.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          $bg-gradient-left,
          $bg-gradient-right
        ),
        url(../images/main/header/header-1600@2x.jpg);
    }
  }

  &-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: $primary-white-color;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen and (min-width: 480px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include font-size(26px, 1.62);
    }
  }
}
