.hero {
  @media screen and(min-width: 480px) {
  }

  margin-left: auto;
  margin-right: auto;
  position: relative;

  background-color: $bg-hero-color;
  background-image: linear-gradient(
      to right,
      $bg-gradient-left,
      $bg-gradient-right
    ),
    url(../images/main/header-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  @media screen and (min-width: 480px) {
    width: 480px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    @include flex-center();
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: $primary-white-color;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    @media screen and (min-width: 480px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include font-size(26px, 1.62);
    }
  }
}
