.title {
  color: $heading-text-color;
  @media screen and (max-width: 767px) {
    @include font-size(28px, 1.17);
  }
  @media screen and (min-width: 768px) {
    @include font-size(28px, 1.17);
  }
  @media screen and (min-width: 1200px) {
    @include font-size(36px, 1.17);
  }
  font-weight: 700;
  text-align: center;
}

.item {
  @include font-size(14px, 1.14);
  font-weight: 700;
}
