.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $bg-footer-color;

  & .container {
    @include flex-center(flex, baseline, space-between);
  }
}

.address {
  display: flex;
  flex-direction: column;

  @include font-size(14px, 1.71);
  font-style: normal;
}

.place {
  @extend %link;
  display: inline-block;
  margin-bottom: 9px;

  color: $primary-white-color;
}

.contacts {
  @extend %link;
  display: inline-block;

  color: $contacts-footer-color;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.social {
  min-width: 206px;

  &-list {
    @extend %list;
    @include flex-center(flex, center, space-between);
  }

  & .icon-instagram,
  & .icon-twitter,
  & .icon-facebook,
  & .icon-linkedin {
    fill: currentColor;
  }
}

@each $iconName in $icons {
  .social #{$iconName} {
    @include flex-center();
    width: 44px;
    height: 44px;

    background-color: $bg-ws-social-color;
    color: $primary-white-color;
    border-radius: 50%;

    transition: background-color 250ms $timing-function,
      color 250ms $timing-function, transform 250ms $timing-function;
  }
  .social #{$iconName}:hover,
  .social #{$iconName}:focus {
    background-color: $accent-color;
  }
}

.subscribe {
  display: block;

  &-form {
    display: flex;
  }
}

.email-subscribe {
  display: block;
  width: 358px;
  height: 50px;
  padding: 18px 12px;
  margin-right: 12px;

  color: $email-subscribe-color;
  background-color: $bg-email-subscribe-color;
  @include font-size(16px, 1.87);
  font-weight: 400;
  letter-spacing: 0.03em;
  border: 1px solid $email-subscribe-border-color;
  box-shadow: $email-subscribe-shadow;
  border-radius: 4px;
}

.action {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;

  color: $primary-white-color;
  @include font-size(14px, 1.14);
  font-weight: 700;
  text-transform: uppercase;
}
