.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $bg-footer-color;

  .container {
    display: flex;
    @media screen and (max-width: 1199px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
    }
  }
}

.tablet-container {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: space-between;
    min-width: 603px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.address-container {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 69px;
  }
}

.address {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
  }

  @include font-size(14px, 1.71);
  font-style: normal;
}

.place {
  @extend %link;
  display: inline-block;
  @media screen and (max-width: 1199px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }

  color: $primary-white-color;
}

.contacts {
  @extend %link;
  display: inline-block;

  color: $contacts-footer-color;

  &:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 8px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
}

.social {
  min-width: 206px;
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  &-list {
    @extend %list;
    min-width: 206px;
    @include flex-center(flex, center, space-between);
  }

  & .icon-instagram,
  & .icon-twitter,
  & .icon-facebook,
  & .icon-linkedin {
    fill: currentColor;
  }
}

@each $iconName in $icons {
  .social #{$iconName} {
    @include flex-center();
    width: 44px;
    height: 44px;

    background-color: $bg-ws-social-color;
    color: $primary-white-color;
    border-radius: 50%;

    transition: background-color 250ms $timing-function,
      color 250ms $timing-function, transform 250ms $timing-function;
  }
  .social #{$iconName}:hover,
  .social #{$iconName}:focus {
    background-color: $accent-color;
  }
}

.subscribe {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    margin-left: 94px;
  }

  &-form {
    @media screen and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
}

.email-subscribe {
  display: block;
  height: 50px;
  padding: 18px 12px;

  @media screen and (max-width: 479px) {
    max-width: 450px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }

  color: $email-subscribe-color;
  background-color: $bg-email-subscribe-color;
  @include font-size(16px, 1.87);
  font-weight: 400;
  letter-spacing: 0.03em;
  border: 1px solid $email-subscribe-border-color;
  box-shadow: $email-subscribe-shadow;
  border-radius: 4px;
}

.action {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;

  color: $primary-white-color;
  @include font-size(14px, 1.14);
  font-weight: 700;
  text-transform: uppercase;
}
