.filter {
  @extend %list;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &-item:not(:last-child) {
    margin-right: 8px;
  }
}

.filter-button {
  padding: 6px 22px;
  border-radius: 4px;

  color: $primary-black-color;
  background-color: $bg-filter-btn-color;
  @include font-size(16px, 1.63);
  font-weight: 500;

  transition: background-color 250ms $timing-function,
    color 250ms $timing-function, box-shadow 250ms $timing-function,
    transform 250ms $timing-function;

  &:hover,
  &:focus {
    color: $btn-text-color;
    background-color: $btn-bg-color;
    box-shadow: $filter-btn-shadow;
  }
}
