.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: $primary-black-color;
  @media screen and (min-width: 768px) {
    display: none;
  }
  & .icon-cross {
    display: none;
  }
  &.is-open .icon-menu {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }

  & .icon-cross,
  & .icon-menu {
    fill: currentColor;
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $bg-white-color;
    padding: 20px;
    text-align: center;
    box-shadow: $mobile-menu-shadow;
    z-index: 1;

    &.is-open {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 60px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav,
.nav-contacts {
  @extend %list;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include font-size(18px, 1.16);
  }

  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 84px;
    @include font-size(14px, 1.14);
  }
  @media screen and (min-width: 1200px) {
    margin-right: 305px;
  }
}

.nav-contacts {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include font-size(12px, 1.16);
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    @include font-size(14px, 1.14);
  }
}
.nav-contacts {
  @media screen and (min-width: 1200px) {
  }
}

.item-nav:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.nav-item {
  @extend %link;
  display: block;
  @media screen and (max-width: 767px) {
    padding-bottom: 8px;
    padding-top: 40px;
  }
  @media screen and (min-width: 768px) {
    padding: 32px 0;
  }

  color: $heading-text-color;

  transition: background-color 250ms $timing-function,
    color 250ms $timing-function, transform 250ms $timing-function;

  &::after {
    display: block;
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;

    background-color: $examples-accent-color;
    border-radius: 4px;
    opacity: 0;
    transform: scaleX(0);

    transition: opacity 250ms $timing-function, transform 250ms $timing-function;
  }
  &:hover::after {
    opacity: 1;
    transform: scaleX(1);
  }
  &.current::after {
    display: block;
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $examples-accent-color;
    border-radius: 4px;
    opacity: 1;
    transform: scaleX(1);
  }
}

.item-nav-contacts:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.nav-contacts-item {
  @extend %link;
  display: flex;
  align-items: center;

  color: $primary-text-color;

  transition: background-color 250ms $timing-function,
    color 250ms $timing-function, transform 250ms $timing-function;
}

.icon-envelope,
.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;

  @media screen and (min-width: 1200px) {
    transition: transform 250ms $timing-function;
  }
}

.nav-item:hover,
.nav-item:focus,
.nav-contacts-item:hover,
.nav-contacts-item:focus {
  color: $accent-color;
}

.nav-contacts-item:hover .icon-envelope,
.nav-contacts-item:focus .icon-envelope,
.nav-contacts-item:hover .icon-smartphone,
.nav-contacts-item:focus .icon-smartphone {
  @media screen and (min-width: 1200px) {
    transform: rotate(360deg);
  }
}

.nav .current {
  color: $accent-color;
}

.item-nav {
  position: relative;
}
