.page {
  color: $primary-text-color;
  background-color: $bg-white-color;
  font-family: $basic-font;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}
