@mixin flex-center($type: flex, $type-align: center, $type-justify: center) {
  display: $type;
  align-items: $type-align;
  justify-content: $type-justify;
}

@mixin font-size($size, $height) {
  font-size: $size;
  line-height: $height;
}
