.examples {
  @extend %list;
  display: flex;
  flex-wrap: wrap;

  &-link {
    @extend %link;
  }

  &-item {
    position: relative;
    width: calc((100% - (30px * 2)) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    background-color: $bg-example-color;
    transition: box-shadow 250ms $timing-function;
  }

  &-item:nth-child(3n) {
    margin-right: 0;
  }

  &-item:nth-child(n + 7) {
    margin-bottom: 0;
  }

  &-item:hover,
  &-item:focus {
    box-shadow: $examples-item-shadow;
  }

  &-thumb {
    position: relative;
    overflow: hidden;
  }

  &-thumb::before {
    display: block;
    padding: 63px 24px;
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 294px;
    background-color: $examples-accent-color;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 250ms $timing-function, transform 250ms $timing-function;
  }

  &-content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid $examples-border-color;
    border-right: 1px solid $examples-border-color;
    border-bottom: 1px solid $examples-border-color;
  }

  &-title {
    margin-top: 0;
    margin-bottom: 4px;

    color: $heading-text-color;
    @include font-size(18px, 2);
    font-weight: 700;
    letter-spacing: 0.06em;
  }
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;

  color: $secondary-white-color;
  @include font-size(18px, 1.56);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 250ms $timing-function, transform 250ms $timing-function;
}

.examples-item:hover .examples-thumb::before,
.examples-item:hover .description {
  opacity: 1;
  transform: translateY(0);
}

.sort {
  display: block;
  margin-top: 0;
  margin-bottom: 0;

  color: $primary-text-color;
  @include font-size(16px, 1.88);
}
