.hero {
  @include flex-center();
  flex-direction: column;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  background-color: $bg-hero-color;
  background-image: linear-gradient(
      to right,
      $bg-gradient-left,
      $bg-gradient-right
    ),
    url(../images/main/header-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  &-title {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 30px;

    color: $primary-white-color;
    @include font-size(44px, 1.36);
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
