.logo,
.logo-footer {
  @extend %link;
  display: inline-block;

  font-family: $logo-font;
  letter-spacing: 0.03em;
}

.logo {
  @include font-size(26px, 1.19);

  & .web {
    color: $logo-web-color;
  }

  & .studio {
    color: $primary-black-color;
  }
}

.logo-footer {
  margin-top: 0;
  margin-bottom: 20px;

  @include font-size(22px, 1.18);

  & .web {
    color: $logo-web-color;
  }

  & .studio {
    color: $primary-white-color;
  }
}
